
<div class="row">
  <div class="col-md-10 col-md-offset-2">
  <h3 >Log In</h3>
    <%= form_for :session do |f| -%>
    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email,class:'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password,class:'form-control' %>
    </div>
    
    <hr>
    <div class="form-group">
      <%= f.submit "Login",class:"btn btn-primary form-control" %>
    </div>

  

    <% end %>
  </div>
</div>