
<div class="row">
  <div class="col-md-12">
    <%= form_for(@article, html: {class:"form-horizontal"}) do |f| -%>
      <%= render partial: "shared/errors", object: @article.errors %>

      <div class="form-group">

        <div class="col-md-1">
          <%= f.label :title,"Title", class: "control-label" %>
        </div>

        <div class="col-md-11">
          <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
        </div>

      </div>

      <div class="form-group">

        <div class="control-label col-md-1">
          <%= f.label :body, "Body", class: "control-label" %>
        </div>

        <div class="col-md-11">
          <%= f.text_area :body, rows: 10, class: "form-control",placeholder: "Write article here" %>
        </div>

      </div>

      <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
          <%= f.submit class: 'btn btn-primary btn-lg pull-right' %>
        </div>
      </div>

    <% end %>
  </div>
</div>