<article class="detail-article">

  <h1 class="article-detail-title"><%= @article.title %></h1>
  <div class="glyphicon glyphicon-calendar" id="article-date">
    <%= @article.created_at.strftime("%b %d, %Y") %>
  </div>
  
  <div class="article-body">
    <%= @article.body %>
  </div>
  <hr>
  <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary btn-lg" %>
  <%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-danger btn-lg btn-space@" %>
</article>