<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= form_for @author do |f| -%>
    <%= render partial: "shared/errors", object: @author.errors %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name,class:"form-control" %>

      <%= f.label :email, "Email" %>
      <%= f.email_field :email,class:'form-control' %>

      <%= f.label :password, "Password" %>
      <%= f.password_field :password,class:'form-control' %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation,class:"form-control" %>

      <%= f.submit @author.new_record? ? "Register":"Edit Profile",class:"btn btn-primary form-control" %>
    <% end %>
  </div>
</div>