<% if errors.any? %>

  <div class="panel panel-danger col-md-offset-1">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= pluralize(errors.count,"error") %>
            prohibited this article from being saved. 
      </h2>
    </div>

    <div class="panel-body">
      <ul>
        <% errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  </div>
<% end %>