<div class="container-fluid">
  <% flash.each do |name,msg| %>
  <div class='alert alert-dismissible alert-<%= "#{name}" %>'>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= content_tag(:div, msg, :id => "flash_#{name}") if msg.is_a?(String) %>
  </div>
  <% end  %>
</div>