<nav class="navbar navbar-default navbar-fixed top">  
  <div class="container-fluid">
    <div class="narbar-header">
      <button class="navbar-toggle" type ="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <%= link_to "Blog App", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Authors", authors_path %></li>
      </ul>
          <ul class="nav navbar-nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Register", register_path %></li>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
    </ul>
    </div>
  </div>
</nav>