<!DOCTYPE html>
<html>
<head>
  <title>Blog App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav' %>

<%= render 'layouts/flash' %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-8">
      <%= yield %>
    </div>


    <div class="col-md-4">
      <%= yield :sidebar %>
    </div>
  </div>
</div>





</body>
</html>
